:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.w-full {
    width: 100%;
}

.b-1-grey {
    border: 1px solid grey;
}

.overflow-auto {
    overflow: auto;
}

.max-w-full {
    max-width: 100%;
}

.min-w-100 {
    min-width: 100px;
}

.max-h-200 {
    max-height: 200px;
}

.h-100vh {
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.flex-1 {
    flex: 1;
}

.justify-between {
    justify-content: space-between;
}

.w-20 {
    width: 20%;
    ;
}

.p-10 {
    padding: 10px;
}

.p-8 {
    padding: 8px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.bg-color-f0f0f0 {
    background-color: #f0f0f0;
}

.bg-color-b2f0e3 {
    background-color: #b2f0e3;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.b-1-ccc {
    border: 1px solid #ccc;
}